*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(241, 218, 232);
    margin: 0;
    padding: 0;
}

#first-page{
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center; 
    margin: 0 auto;
    height: 50%;
    padding-top: 80px;
}

#menu{
    width: 100%;
    height: 10;
    text-align: right;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    display: block;
    padding: 30px 10px;
    text-decoration: none;
    color: black;
}

#menu ul li a:hover {
    text-decoration: none;
    Color: blue;
}

#image{
    border: 4px solid rgb(202, 93, 161);
    border-style: dashed;
    border-radius: 50%;
}

#about-me{
        padding-top: 20px;
        padding-bottom: 20px;
}

#about-me p{
    width:450px;
    height:700px;
    border: 10px solid;
    display: block;
    justify-content: center;
    text-align: center; 
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 4px solid rgb(202, 93, 161);
    border-style: dashed;
    border-radius: 10%;
}

#bug{
    margin-top: 8mm;
    mix-blend-mode: multiply;
    border-radius: 50%;
}

#contacts{
    padding-top: 200px;
    width: 100%;
    height: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: sticky;
}

#contacts ul li{
    display: inline-block;
}

#contacts ul li a{
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

#contacts ul li a:hover {
    text-decoration: none;
    Color: blue;
}


#portfolio-content{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#portfolio-content p{
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-style: none;
    position: sticky;
}

#portfolio-content p a{
    text-decoration: none;
    color: black;
}

#portfolio-content p a:hover{
    text-decoration: none;
    Color: blue;
}

#homepage-pic{
    border: 4px solid rgb(202, 93, 161);
    border-style: dashed;
    border-radius: 10%;
    float: left;
}

#unit-test-pic{
    border: 4px solid rgb(202, 93, 161);
    border-style: dashed;
    border-radius: 10%;
    float: left;
}

#api-test-pic{
    border: 4px solid rgb(202, 93, 161);
    border-style: dashed;
    border-radius: 10%;
    float: left;
}

#docker-pic{
    border: 4px solid rgb(202, 93, 161);
    border-style: dashed;
    border-radius: 10%;
    float: left;
}

#thankyou{
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 12%;
}

#thankyou p{
    border: 4px solid rgb(202, 93, 161);
    border-style: dashed;
    border-radius: 10%;
    max-width: fit-content;
    padding: 20px;
}